@model IEnumerable<Autentication_crud.Models.UserSecurity>

@{
    ViewData["Title"] = "RegisteredUsers";
}
@*<link rel="stylesheet" href="~/css/Date.css">*@

<h1 class="text-center text-info">Usuarios registrados en la Base de Datos</h1>
<br />
<br />

<p>
    <a asp-action="NewUser" class="btn btn-secondary">Crear Nuevo</a>
</p>
@*Buscar nombre usuarios*@
<div class="col-md-4  float-right">
    <div class="row">
        <form asp-controller="User" asp-action="RegisteredUsers">
            <p>
                Usuario: <input type="text" name="searchUser" />
                <input class="btn btn-success" type="submit" value="Buscar" />
            </p>
        </form>
    </div>
</div>
@*Buscar fechas*@
<div class="col-md-6">
    <div class="row">
        <form asp-controller="User" asp-action="RegisteredUsers">
            <p>
                Desde: <input type="date" name="fechaInicio" />
                Hasta: <input type="date" name="fechaFin" />
                <input class="btn btn-success" type="submit" value="Buscar" />
            </p>

        </form>
    </div>
</div>
<br />
<br />

<div>
    @if (TempData["mensajeRegistrado"] != null)
    {
        <div class="alert alert-success alert-dismissible fase show" role="alert">
            @TempData["mensajeRegistrado"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
</div>
<div>
    @if (TempData["mensajeUpdate"] != null)
    {
        <div class="alert alert-success alert-dismissible fase show" role="alert">
            @TempData["mensajeUpdate"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
</div>
<div>
    @if (TempData["mensajeDeleted"] != null)
    {
        <div class="alert alert-danger alert-dismissible fase show" role="alert">
            @TempData["mensajeDeleted"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>APELLIDOS</th>
            <th>USUARIO</th>
            <th>CONTRASEÑA</th>
            <th>FECHA REGISTRADO</th>
            <th>ESTADO USUARIO</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserSecurityId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserData.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserData.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserPassword)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserRegisteredDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserState)
                </td>


                <td>
                    <a asp-action="UsersUpdate" class="btn btn-info" asp-route-id="@item.UserSecurityId">Editar</a> |
                    @*<a asp-action="DeleteUser" class="btn btn-danger" asp-route-id="@item.UserSecurityId">Eliminar</a>*@

                    <a href="#DeleteConfirmation" id="datoID" class="btnDelete btn btn-danger" data-toggle="modal" data-id="@item.UserSecurityId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>



@*Modal delete PENDIENTE NO LLEGA AL CONTROLADOR*@

<div class="modal fade" id="DeleteConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Eliminar Registro</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <h4>¿Estás seguro? </h4>
                <h5>Quieres eliminar este registro.</h5>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancelar</a>
                <button class="btnConfir btn btn-danger">Confirmar</button>
            </div>
        </div>
    </div>
</div>

@*<script src="~/js/Date.js"></script>*@

